.formGroup {
  margin-bottom: 1px;
}

.formGroup label {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 7.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup input.readOnly {
  border: none;
  background-color: transparent;
  padding: 7.5px;
  cursor: default;
}

.formGroup input.readOnly:hover {
  border: none;
}

.formGroup input.editable {
  border: 1px solid #ccc;
  background-color: white;
  padding: 7.5px;
}

.formGroup input.editable:hover {
  border: 2px solid #0065d0;
}

.formText {
  width: 100%;
  padding: 7.5px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.formGroup button {
  padding: 8px 16px;
  border: 2px solid #000;
  color: rgb(57, 57, 57);
  border-radius: 15px;
  cursor: pointer;
}

.formGroup button:hover {
  background-color: #0056b3;
  color: white;
}
