.passwordCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 450px;
  padding: 50px 120px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.5s ease-in-out;
}

.passwordCard.open {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.passwordCard form {
  display: flex;
  flex-direction: column;
}

.passwordCard span {
  font-size: 35px;
  font-weight: bolder;
}

.passwordCard p {
  margin: 10px 0 5px;
}

.passwordCard input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#closeBtn {
  padding: 10px;
  margin-left: 0px;
  background: #cbced1;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
#closeBtn:hover {
  padding: 10px;
  left: 0px;
  background: #0d0d0d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.passwordCard button {
  padding: 10px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 15px;
  transition: background 0.3s;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.passwordCard button:hover {
  /* width: 100%; */
  align-items: center;
  background: #000000;
  border: 0px 5px solid black;
  margin: 0px 0px;
  transition: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
