.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  height: 99%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
  box-shadow: 5px 0px 15px rgb(209, 208, 208), -20px 80px 60px rgb(41, 41, 41),
    -20px -50px 60px rgb(41, 41, 41);

  font-size: larger;
  margin-left: 5px;
  margin-top: 5px;
  /* background: rgb(209, 209, 209); */
  /* background: linear-gradient(
    180deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(255, 255, 255, 1) 14%,
    rgba(255, 255, 255, 1) 100%
  ); */
  overflow: hidden;
  border-radius: 20px;
}

.sideBar img:not(.humanImg) {
  width: 25px;
  height: 25px;
  z-index: 2;
  position: relative;
  margin-left: 10px;
}

.sideBar a {
  margin-top: 15px;
  padding-left: 15px;
  padding-top: 5px;
  color: black;
  text-decoration: none;
  display: block;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 90%;
  z-index: 1;
  position: relative;
  margin-left: 5px;
  /* margin-bottom: 15px; */
  transition: all 0.2s cubic-bezier(0.1, 0.29, 0.14, 0.06);
}

.sideBar a:hover {
  background-color: #8dadf3;
  color: white;
  margin-left: 5px;
  /* transform: scale(0.2s); */
  border-radius: 15px;
  padding: 10px;
  transition: 0.8s;
  /* transition: ease-in-out;
  transition-timing-function: cubic-bezier(1, 0.89, 0.64, 0.36); */
  /* transition: linear; */
  /* transition: all 0.3s cubic-bezier(0.1, 0.29, 0.14, 0.06); */
}

#sideTextCenter a #icon:hover {
  filter: invert(1);
}

.backToButtonClass {
  margin-top: auto;
  width: 100%;
}

#backToHome {
  background-color: rgb(216, 213, 213);
  color: #000000;
  height: 53px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0px;
  transition: all 0.2s cubic-bezier(0.1, 0.29, 0.14, 0.06);
}

#backToHome:hover {
  background-color: rgb(95, 162, 255);
  transition: 0.8s;
}

.humanImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 0.2px solid white;
  outline-offset: -3px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.humanImg:hover {
  transition: 0.3s;
  border: #6a99ff 3px solid;
}

/* 
.NavImgCenter {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* @media (max-width: 800px) {
  .sideBar {
    width: 10%;
  }
  .sideBar .navText {
    visibility: hidden;
  }
  .sideBar a:hover {
    padding: 1px;
    width: 80%;
    height: 45px;
  }
} */
