/* ../css/WelcomeCard.css */
.welCard {
  background: linear-gradient(
    to left,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 2%,
    rgba(206, 206, 206, 0) 45%
  );
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 450px;
  padding: 20px;
  color: white;
  text-align: right;
  border-radius: 25px;
  box-shadow: 5px 5px 10px gray;
  outline: 1px solid white;
  outline-offset: -5px;
  position: relative;
  overflow: hidden; /* 確保子元素不會溢出 */
}

.textset {
  right: 50px;
  position: absolute;
  z-index: 2; /* 確保文字在圖片之上 */
}

#cardLabel {
  margin-top: 90px;
  align-items: end;
  justify-content: end;
  margin-right: 50px;
}

#welTop {
  font-size: 80px;
  margin: 15px;
}

#welDays {
  margin-top: 80px;
  font-size: 15px;
}

#welOrder {
  font-size: 15px;
}

#welLevels {
  font-weight: bolder;
  font-size: 25px;
  scrollbar-3dlight-color: blanchedalmond;
}

.slideShowERA {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%; /* 初始位置在容器的右邊 */
  background-size: cover;
  background-position: center;
}

.wel-fade-in {
  display: block;
  animation: fadeInSlideIn 8s forwards; /* 使用複合動畫 */
}

@keyframes fadeInSlideIn {
  0% {
    left: 100%;
    opacity: 0;
  }
  50% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
